.container{
background: linear-gradient(to right, #00ccff, #b3f0ff);
box-shadow: 3px 4px 3px black;
}
h1{
color: rgb(0,204,0);
text-shadow: 2px 2px 5px black;
 
}
h2{
color: yellow;
background-color: green;
text-shadow: 1px 1px 3px darkblue;
}