body{
background-image: url("https://lh3.googleusercontent.com/-0JEq38sWCSE/TYDYiajBOZI/AAAAAAAAAT4/3Cu2hcsJb1M/s1600/temp2.jpg");;
background-repeat: no repeat;
background-size: cover;}

.border{
border: 2px solid red
}