body{
    background-image: url("New/bg.jpg");
    background-attachment: fixed;
}
#nav{
    background-color: rgb(209, 53, 79);
    height:100%;
    width: 20%;
    margin-left: 4vw;
    display: inline-block;
    position: fixed;
    
}
#img1{
    position: relative;
    border-radius: 50%;
    top: 4vw;
    left: 4vw;
    height: 12vw;
    width: 12vw;
    }
#head1{
    text-align: center;
    font-size: 2.5vw;
    color: white;
}    
#head2{
    text-align: center;
    font-size: 1.2vw;
    color: white;
}
.nav1{
    text-decoration: none;
    color: white;
    padding: 1vw 6.6vw;
    background-color: rgb(209, 53, 79);
}
.navg:hover{
    
    color:rgb(209, 53, 79) ;
    transition-duration: .5s;*/
}
.nav1:hover{
    background-color: white;
    color:rgb(209, 53, 79) ;
    transition-duration: .5s;
}
.navg{
    width: initial;
    height: 2vw;
    
    font-size:1.5vw;
    text-align: center;
    vertical-align: middle;
   margin-top: 1vw;
  /* border: 2px solid;*/
}
.nav2{
    text-decoration: none;
    color: white;
    padding: 1vw 4.1vw;
    background-color: rgb(209, 53, 79);
}
.nav2:hover{
    background-color: white;
    color:rgb(209, 53, 79) ;
    transition-duration: .5s;
}
.nav3{
    text-decoration: none;
    color: white;
    padding: 1vw 6.68vw;
    background-color: rgb(209, 53, 79);
}
.nav3:hover{
    background-color: white;
    color:rgb(209, 53, 79) ;
    transition-duration: .5s;
}
.nav4{
    text-decoration: none;
    color: white;
    padding: 1vw 6.1vw;
    background-color: rgb(209, 53, 79);
}
.nav4:hover{
    background-color: white;
    color:rgb(209, 53, 79) ;
    transition-duration: .5s;
}
.nav5{
    text-decoration: none;
    color: white;
    padding: 1vw 6.6vw;
    background-color: rgb(209, 53, 79);
}
.nav5:hover{
    background-color: white;
    color:rgb(209, 53, 79) ;
    transition-duration: .5s;
}
#main{
    /**background-color: rgb(189, 111, 111);*/
    width:64vw;
    margin-left:30vw;
    margin-right:3vw;
    padding-top:6vw;
}
.h1{
    font-size:2.5vw;
    text-align: center;
    text-decoration: underline 3px rgb(209, 53, 79) ;
    /**border-bottom: 2px solid rgba(128,128,128,0.7);*/
    color: white;
   }

.p1{
    text-align: center;
    font-size: 18px;
    color: white;
}
#i1{
    height: 280px;
    width:420px;
    border: opx solid;
    border-radius:8px;
    float: left;
    padding-right: 2vw;
    position: relative;
    bottom:2vw;
}
.h2{
    font-size:2.5vw;
    margin-top: 2vw;
    color: white;
   }

.p2{
    font-size:1.25vw;
    line-height:28px;
    color: white;
}
.b1{
    font-size:1.2vw;
    padding:0.8vw;
    color:rgb(209, 53, 79);
    background-color: white;
    vertical-align: middle;
    text-decoration: none;
}
.b1:hover{
    background-color:rgb(209, 53, 79);
    color: white;
    transition-duration: 1s;
}
.l1{
    color: black;
}
#i2{
    height: 280px;
    width:420px;
    border: opx solid;
    border-radius:8px;
    float: Right;
    padding-right: 2vw;
    position: relative;
    bottom:2vw;
}
.td1{
    padding: 4vw;
    background-color: rgba(255,255,255,0.04);
}
.td1:hover{
    background-color:white;
    color: black;
    transition-duration: 1s;
}
.nav6{
    height:3vw;
    width: 20vw;
    position: relative;
    left: 23vw;
    font-size: 1.5vw;
    color: white;
}
.l2{
    padding-right: 0.7vw;
    text-decoration: none;
    color: white;
}
.l2:active{
    text-decoration: underline rgb(209, 53, 79);
    color:rgb(209, 53, 79);
}
.td2{
    margin: bottom 45px;
    border-bottom: 2px solid rgba(128,128,128,0.3);
    
}
.i3{
    width: 380px;
    height: 280px;
    margin-bottom: 40px;
}
.i3:hover{
    width: 420px;
    height:340px;
    transition-duration:1.5s;
    margin-bottom: 40px;
    border:20px solid rgb(209, 53, 79);
}
/**.o:hover{
    color: black;
    background-color: blue;
}*/